<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ForteMove" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ForteMove;Integrated Security=True;Application Name=ForteMove.Slice7ReadOnlyVerification" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
